extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis dui ut mauris congue feugiat. Praesent tempus molestie vulputate. Ut non lacus consequat, ultricies enim non, sagittis orci. Vestibulum sed sollicitudin leo. Integer vestibulum mollis tincidunt. Fusce sodales, metus vitae cursus mollis, nibh sem blandit tortor, faucibus vulputate tortor felis vel odio. Sed auctor ipsum vel venenatis rhoncus. In venenatis, velit non euismod accumsan, risus elit sodales tellus, ac blandit ante sem vel quam. Nam justo libero, laoreet eu congue a, vulputate a sapien.

                p Vivamus accumsan tincidunt enim, ut fermentum mi convallis vel. Fusce a ex magna. Praesent in pellentesque lacus, nec eleifend orci. Nullam nisi nulla, egestas eu orci non, tincidunt vehicula felis. Nulla egestas elementum lacus sed convallis. Donec libero urna, euismod nec tincidunt vel, rutrum nec ante. Praesent euismod lectus justo, a sodales ante pulvinar ut. Aliquam a ultricies erat. In hac habitasse platea dictumst. In quis pharetra neque, in placerat ligula. In sit amet nisi mollis, posuere lacus nec, rhoncus augue. Phasellus rhoncus sagittis urna, eget cursus ligula aliquet ut. Aliquam venenatis a orci sit amet vulputate. Vestibulum pellentesque lacinia tellus id congue. Vivamus tempus risus sed malesuada semper. Quisque sit amet massa quis metus fermentum aliquam non id nunc.

                p Morbi nec suscipit nisl. Pellentesque et erat vestibulum odio ornare tempus sit amet ut mi. Nam ultrices vehicula nunc vitae vehicula. Morbi vitae lorem dui. Aenean sit amet eros non orci mattis posuere. Sed mattis vulputate nibh eget porta. Praesent laoreet pharetra purus id dignissim.
    
    .listado-iconos
        .conteiner.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Morbi vitae lorem dui. Aenean sit amet eros non orci mattis posuere. Sed mattis vulputate nibh eget porta. Praesent laoreet pharetra purus id dignissim.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Morbi vitae lorem dui. Aenean sit amet eros non orci mattis posuere. Sed mattis vulputate nibh eget porta. Praesent laoreet pharetra purus id dignissim.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Morbi vitae lorem dui. Aenean sit amet eros non orci mattis posuere. Sed mattis vulputate nibh eget porta. Praesent laoreet pharetra purus id dignissim.